.pagesearch {
    border: 1px solid lightgray;
}

ul,
li {
    padding: 0;
    list-style-type: none;
}

.incatlist {
    cursor: pointer;
    transition: .3s;
}

.incatlist:hover {
    font-weight: 900;
    color: #C2572B;
}

.card {
    border: 1px solid lightgray;
    border-radius: 15px;
    overflow: hidden;
}

.outcartpart {
    height: 100%;
}

.newcard {
    height: 100%;
}

.imagebox {
    width: 100%;
    height: 250px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.imagebox img {
    height: 100%;
    object-fit: cover;
}

/* 
.imagebox {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.imagebox img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
*/
.thumbimage {
    width: 100%;
    height: 450px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.thumbimage img {
    height: 100%;
    object-fit: cover;
}

.imagelist {
    display: flex;
    justify-content: space-between;
}

.prdimage {
    padding: 0;
    height: 100px;
    width: 20%;
    cursor: pointer;
    overflow: hidden;
}

.prdimage img {
    height: 100%;

    object-fit: cover;
}


.qtyvalue {
    height: 50px;
    width: 70px;
    border: 1px solid lightgray;
    font-size: 18px;
    color: grey;
    padding: 20px;
}

.newqtyvalue {
    height: 40px;
    width: 80px;
}

.qtybtn button {
    height: 25px;
    width: 25px;
    border: 1px solid lightgray;
    background-color: white;
    transition: .3s;
}

.newqtybtn button {
    height: 20px;
}

.qtybtn button:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.addtobtn {
    background-color: #212529;
    color: white;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .3s;
    border-radius: 0px;
    border-width: 0;
}


.addtobtn:hover {
    background-color: black;
    color: white;
}

.newaddtobtn:hover {
    background-color: rgb(255, 90, 90);
    color: white;
}

.heart {
    gap: 5px;
}

.heart div {
    cursor: pointer;
    transition: .3s;
}

.heart div:hover {
    color: #C2572B;
}

.ctg-det div {
    padding-top: 3px;
    cursor: pointer;
    font-size: 14px;
}

.ctg-det div:hover {
    text-decoration: underline;
}

.drplist div {
    cursor: pointer;
    color: grey;
    transition: .3s;
}

.drplist div:hover {
    color: black !important;
}

.reviewlist input,
textarea {
    border: 1px solid lightgray !important;
}

.rw-start i {
    color: lightgray;
    transition: .3s;
    cursor: pointer;
}

.rw-start i:hover {
    color: #C2572B;
}

.crtbtn {
    background-color: black;
    color: white;
}

/* Rating css */
.star-rating {
    font-size: 24px;
    display: flex;
    align-items: center;
}

.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-outer::before {
    content: '★★★★★';
    /* Use Unicode stars */
    color: #ccc;
    font-size: 24px;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-inner::before {
    content: '★★★★★';
    /* Use Unicode stars */
    color: #C2572B;
    font-size: 24px;
}

.rating {
    margin-left: 10px;
    font-size: 18px;
}

.page-link {
    color: black;
}

.page-link:hover {
    color: white;
    background-color: #cdcdcd;
}

.pagination {
    padding-top: 1rem;
}

.pagination .page-link {
    outline: none;
}

.pagination .page-link:focus,
.pagination .page-link:active {
    outline: none;
    box-shadow: none;
}

.active>.page-link,
.page-link.active {
    color: var(--bs-pagination-active-color);
    background-color: black;
    border-color: black;
}

.emptytext {
    padding: 132px 0px 100px 0px;
}

@media(min-width: 576px) and (max-width: 768px) {
    .thumbimage {
        height: 300px;
    }
}

@media(max-width: 576px) {
    .thumbimage {
        height: 300px;
    }

    .prdimage {
        padding: 0;
        height: 75px;
        width: 20%;
        cursor: pointer;
    }
}

.rating {
    margin-left: 10px;
    font-size: 18px;
}

.cartmenu {
    align-items: center;
}

.cartimg img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.cartborder {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.carthead {
    height: 50px;
}

.closeborder {
    border-right: 1px solid lightgray;
    padding: 10px;
    text-align: center;
}

.closeborder i {
    cursor: pointer;
    border-radius: 50%;
    padding: 0px 2px;
    color: white;
    background-color: lightgray;
    transition: .3s;
}

.closeborder i:hover {
    background-color: black;
}

.plink {
    color: #212529;
}

.plink:hover {
    text-decoration: underline;
}

.psldimg div {
    display: flex;
    justify-content: center;
    right: 0 !important;
    align-items: center;
}

.psldimg div img {
    height: auto;
    width: 100%;
    object-fit: cover;
}


.trash:hover {
    background-color: #C2572B !important;
}

.part-one {
    display: grid;
    align-items: center;
    height: 100%;
    width: 30%;
}

.part-one h4 {
    width: 100%;
}

.part-two {
    padding: 15px 10px;
    width: 70%;
    border-top: 1px solid lightgray;
}

.checkoutbtn {
    background-color: #212529;
    border-width: 0px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: .3s;
    padding-top: 10px;
    padding-bottom: 10px;
}

.checkoutbtn:hover {
    background-color: #e87141;
}

.infohvr {
    transition: .3s;
}

.infohvr:hover {
    color: #e87141;
}

.infotab {
    color: #e87141;
}

.accrheader {
    font-size: 14px;
    color: grey;
    text-decoration: underline;
}

.accordion-button {
    background-color: #F8F6F0;
    font-weight: 900;
    border-radius: 0px !important;
}

.accordion {
    --bs-accordion-border-radius: 0px;
}

.accordion-button:focus {
    border-radius: 0px !important;
    box-shadow: 0 0 0 white;
}

.accordion-button:not(.collapsed) {
    background-color: #F8F6F0;
}

.order_main {
    display: flex;
    align-items: center;
    height: 100%;
}

.order-one {
    width: 60%;
    display: flex;
    align-items: center;
}

.order-two {
    width: 40%;
}

.main_border {
    border-bottom: 1px solid lightgray;
}

.sub_border {
    border-top: 1px solid lightgray;
}

.containColor {
    gap: 15px;
}

.containImage {
    height: 150px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    display: grid;
    align-items: center;
    z-index: 1;
    transition: .3s;
}

.containImage img {
    height: auto;
    width: 100%;
    object-fit: cover;
    transition: .3s;
    z-index: 2;
}

.cntImg1:hover {
    box-shadow: inset 0 0 25px lightgray;
}

.cntImg2:hover {
    box-shadow: inset 0 0 25px skyblue;
}

.cntImg3:hover {
    box-shadow: inset 0 0 25px goldenrod;
}

.cntImg4:hover {
    box-shadow: inset 0 0 25px rgba(128, 0, 128, 0.669);
}

.containImage img:hover {
    transform: scale(1.1);
}

.rating {
    display: flex;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label {
    position: relative;
    width: 1em;
    font-size: 2rem;
    cursor: pointer;
}

.star {
    font-size: 2rem;
    transition: color .3s;
}

.rating-text {
    margin-left: 5px;
    font-size: 1rem;
}


@media (max-width: 992px) {
    .catlist {
        height: 200px;
        overflow-y: scroll;
        padding: 10px 20px;
        border: 1px solid lightgray;
        background-color: #212529;
        color: white;
    }
}

@media (max-width: 768px) {
    .catlist {
        height: 150px;
    }

    .cartborder {
        border: 1px solid lightgray;
        display: grid;
        gap: 10px;
        padding-bottom: 10px;
    }

    .carthead {
        display: none;
    }

    .closeborder {
        border-right: 0px;
        text-align: right;
        width: 100%;
    }

    .p-price {
        font-weight: 500;
    }

    .imagebox {
        height: 200px;
    }

    .part-one {
        width: 100%;
    }

    .part-two {
        width: 100%;
        padding: 0px 0px;
        border-width: 0px;
    }

    .main_part {
        padding: 30px;
        border: 1px solid lightgray;
        gap: 20px;
    }

    .infotab {
        width: 100px;
        font-size: 12px !important;
    }
    .reviewText{
        font-size: 13px;
    }
}